body {
  font-family: Arial, sans-serif;
  background-color: lightblue;
  padding: 20px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  
}

input {
  padding: 10px;
  width: 250px;
  background-color: wheat;
}

button {
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
  background-color: wheat;
}

#result {
  background: lightblue;
  padding: 20px;
  border-radius: 5px;
}
.card {
  background-color: wheat;
  max-width: 500px;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
}

.info-row {
  margin-top: 10px;
}

.info-row strong {
  display: inline-block;
  width: 130px;
}

.loading {
  font-weight: bold;
  text-align: center;
}

.error {
  color: red;
}
